<a href="https://colab.research.google.com/github/levongocanh/CS114.K21/blob/master/Sarcasm_Detection/Sarcasm_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Load dataset:

In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split
import re
#đọc dữ liệu từ 2 bộ dataset được lấy trên kaggle
df1 = pd.read_json("/content/Sarcasm_Headlines_Dataset.json", lines=True)
df2 = pd.read_json("/content/Sarcasm_Headlines_Dataset_v2.json", lines=True)

In [3]:
df1.head()

                                        article_link  ... is_sarcastic
0  https://www.huffingtonpost.com/entry/versace-b...  ...            0
1  https://www.huffingtonpost.com/entry/roseanne-...  ...            0
2  https://local.theonion.com/mom-starting-to-fea...  ...            1
3  https://politics.theonion.com/boehner-just-wan...  ...            1
4  https://www.huffingtonpost.com/entry/jk-rowlin...  ...            0

[5 rows x 3 columns]

In [4]:
df2.head()

   is_sarcastic  ...                                       article_link
0             1  ...  https://www.theonion.com/thirtysomething-scien...
1             0  ...  https://www.huffingtonpost.com/entry/donna-edw...
2             0  ...  https://www.huffingtonpost.com/entry/eat-your-...
3             1  ...  https://local.theonion.com/inclement-weather-p...
4             1  ...  https://www.theonion.com/mother-comes-pretty-c...

[5 rows x 3 columns]

In [5]:
df = pd.concat([df1, df2]) #gộp 2 dataframe thành 1

In [6]:
df

                                            article_link  ... is_sarcastic
0      https://www.huffingtonpost.com/entry/versace-b...  ...            0
1      https://www.huffingtonpost.com/entry/roseanne-...  ...            0
2      https://local.theonion.com/mom-starting-to-fea...  ...            1
3      https://politics.theonion.com/boehner-just-wan...  ...            1
4      https://www.huffingtonpost.com/entry/jk-rowlin...  ...            0
...                                                  ...  ...          ...
28614  https://www.theonion.com/jews-to-celebrate-ros...  ...            1
28615  https://local.theonion.com/internal-affairs-in...  ...            1
28616  https://www.huffingtonpost.com/entry/andrew-ah...  ...            0
28617  https://www.theonion.com/mars-probe-destroyed-...  ...            1
28618  https://www.theonion.com/dad-clarifies-this-no...  ...            1

[55328 rows x 3 columns]

Xu ly data:

In [7]:
df = df.drop(['article_link'], axis=1) #xóa cột article_link
df = df.drop_duplicates(['headline']) #xóa những hàng bị trùng ở cột headline

In [8]:
df

                                                headline  is_sarcastic
0      former versace store clerk sues over secret 'b...             0
1      the 'roseanne' revival catches up to our thorn...             0
2      mom starting to fear son's web series closest ...             1
3      boehner just wants wife to listen, not come up...             1
4      j.k. rowling wishes snape happy birthday in th...             0
...                                                  ...           ...
28497  tyson holds contest to let fans submit new ide...             1
28509  increasingly cocky bernie sanders announces he...             1
28520  cash-strapped zuckerberg forced to sell 11 mil...             1
28544  grocery store bar actually has great little ha...             1
28589  study: 83% of marathon spectators only attend ...             1

[28503 rows x 2 columns]

In [9]:
df['headline'] = df['headline'].apply(lambda x: x.lower()) #chuyển đổi nội dung trong cột headline sang chữ thường
df['headline'] = df['headline'].apply((lambda x: re.sub('[^a-zA-z0-9\s]','',x))) #loại bỏ ký tự đặc biệt

In [10]:
df.head()

                                            headline  is_sarcastic
0  former versace store clerk sues over secret bl...             0
1  the roseanne revival catches up to our thorny ...             0
2  mom starting to fear sons web series closest t...             1
3  boehner just wants wife to listen not come up ...             1
4  jk rowling wishes snape happy birthday in the ...             0

In [11]:
tf = TfidfVectorizer(analyzer='word', stop_words='english', ngram_range=(1,3), max_features= 5000)
X = tf.fit_transform(df['headline'])
Y = df['is_sarcastic']

In [13]:
#chia data để train:test tỉ lệ 7:3
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3)

Chọn model train và kiểm tra performance

RandomForestClassifier

In [14]:
from sklearn.ensemble import RandomForestClassifier
model_rfc = RandomForestClassifier()
model_rfc.fit(x_train, y_train)
y_pred = model_rfc.predict(x_test)
f1_score(y_pred, y_test)

0.7334494773519163

LinearSVC

In [15]:
from sklearn.svm import LinearSVC
model_svm = LinearSVC()
model_svm.fit(x_train, y_train)
y_pred = model_svm.predict(x_test)
f1_score(y_pred, y_test)

0.7633568860790876

In [16]:
from sklearn.linear_model import SGDClassifier
model_sgd = SGDClassifier()
model_sgd.fit(x_train, y_train)
y_pred = model_sgd.predict(x_test)
f1_score(y_pred, y_test)

0.7684504184630991

In [17]:
from sklearn.linear_model import LogisticRegression
model_lg = LogisticRegression()
model_lg.fit(x_train, y_train)
y_pred = model_lg.predict(x_test)
f1_score(y_pred, y_test)

0.7651553744268975

In [18]:
headline = str(input("Nhap headline: "))
headline = headline.lower() #chuyển đổi nội dung trong cột headline sang chữ thường
headline = re.sub('[^a-zA-z0-9\s]','',headline) #loại bỏ ký tự đặc biệt
test = []
for i in headline:
  test.append(i)
out = tf.transform(test)

Nhap headline: 	with 0 stored elements in Compressed Sparse Row format>

In [19]:
out

<55x5000 sparse matrix of type '<class 'numpy.float64'>'
	with 0 stored elements in Compressed Sparse Row format>